body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    padding: 0;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

/********************CONTAINER*******************/
.container{
width: 1200px;
margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: url("../images/intro.jpg") center;
    background-size: cover;

}
.header {
    padding-top:25px;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;


}
.header_inner {
    align-items: center;
    display: flex;
     justify-content: space-between;
}
.header_logo{
    font-size: 38px;
    font-weight: 700;
    color:red;
}

.nav {
    text-transform: uppercase;
    font-size: 14px;
    color:#fff;


}

.nav_link {
    opacity: 0.8;
    display: inline-block;
    vertical-align: top;
    color:#Fff;
    text-decoration: none;
    transform: color .1s linear;
    margin-right: 60px;
    position: relative;


}
.nav_link:after {
    content: "";

    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: #fce38a;
    position: absolute;
    top:100%;
    left:0;
    z-index: 1;
}

.nav_link.active {
    color:#fce38a;
    text-decoration: underline;
}
.nav_link:hover {
    color:#fce38a;
    text-decoration: underline;

}
.nav_link:hover:after,
.nav_link.active:after {

    opacity: 1;
}
.intro_text {
    color: #fff;

    margin-top: 200px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.1;
}
.intro_subtext {
    color: #fff;
    text-transform: uppercase;

    margin-top: 25px;
    font-family: 'Montserrat',sans-serif ;
    font-size: 150px;
    font-weight: 700;

}
.intro_subtext:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color: #fff;

}
.intro_inner {
    text-align: center;

}
.btn {


    display: inline-block;
    vertical-align: top;
    border: 2px solid #fff;
    padding: 8px 30px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    transition: background .2s linear, color .2s linear;


}
.btn:hover {
    background: #fff;
    color: #333;
}


.slider {
    margin-top: 40px;
    display: flex;
    justify-content:space-between;

}
.slider_item {
    position: relative;

    opacity: 0.4;
    border-top: 3px solid #fff;
    padding: 20px 0;
    font-family: 'Montserrat',sans-serif ;
    font-size: 18px;
    font-weight: 400;
    color:#fff;
    width: 23%;
    text-transform: uppercase;
}
.slider_num {
    font-size: 24px;
    font-weight: 700;
}
.slider_item.active{
    opacity: 1;
}
.slider_item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #ff0202;
    position: absolute;
    top:-3px;
    left: 0;
    right: 0;
    z-index: 1;
}

                                /*SECTION*/


.section {
    padding: 80px 0;

}

.section--gray{
    background: #f8f8f8;
    margin-bottom: 80px;
}
.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;

}

.section_subtitle {

    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;

}
.section_title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}
.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ff0202;
    margin: 30px auto;
}

.section_text {
    color: #999999;
    font-size: 15px;
}


                                    /*About*/

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

}
.about_item {
    width: 380px;
    background-color: #95e1d3;
    position: relative;
}

.about_item:hover .about_img{
    transform: translate3d(-10px, -10px, 0);
}

.about_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}
.about_item:hover .about_img img {
    opacity: .1;


}
.about_item:hover .img_text {
    opacity: 1;


}
.about_img img {
    display: block;
    transition: opacity .1s linear;
}
.img_text {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .1s linear;
}





                                     /*About*/

.stat {
    background-color: #95e1d3;
    margin-bottom: 80px;

}
.inner_stat{
    display: flex;
}
.stat_item {
    padding: 70px 25px;
    flex: 1 1 0;
    border-left: 1px solid #fff;
    text-align: center;
    color:#fff;

}
.stat_item:last-child {
    border-right: 1px solid #fff;
}
.stat_item:hover .stat_count{
    transform: translate3d(0, -20px, 0);

    color:red;

}

.stat_count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    transition: color .3s linear;

}
.stat_text {
    text-transform: uppercase;
    font-size: 14px;

}
.services_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services_item  {
    width: 33%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.services_img{
    margin-right: 10px;
}
.services_title{
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
    text-align: left;

}
.services_text {
    text-align: left;
    font-size: 15px;
    color: #adadad;
}
.device {
    background: url(../images/devices-bg.jpg) center;
    background-size: cover;
    text-align: center;
    object-fit: cover;
    width: auto;
    height: 715px;
    padding-top: 40px;
    margin-bottom: 80px;

}
.device_iphone {
   transform: translate3d(-100px,0, 0);
}
.device_ipad {
   transform: translate3d(60px,-65px, 0);
}

.device .section_subtitle {
    margin-bottom: 20px;
}
.img_device{
    align-items: center;
}
.text_services {
    justify-content: space-between;

}

/*                WEDO:             ;*/
.wedo {
    display: flex;

}
.wedo_item {
    width: 50%;

}


/*            ACCORDION:     ;*/

.accordion_item{
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.accordion_header:hover {
    cursor: pointer;
}
.accordion_icon {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;
    transform: translateY(-50%);

}

.accordion_header {
    padding: 15px 20px 15px 60px;
    position: relative;
    border: 1px solid #e5e5e5;
}

.accordion_content {
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;

    display: none;
}
.accordion_title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}
.accordion_header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;

    z-index: 1;
    top:50%;
    right: 20px;

    transform: translateY(-50%)
    rotate(135deg);

}

.accordion_item.active
.accordion_content {
    display: block;
}
.accordion_item.active
.accordion_header:after{
     transform: translateY(-50%)
    rotate(-45deg);
}


/*reviews*/
.reviews {
    padding: 0 110px;

}
.reviews_item {
    padding-left: 205px;
    position: relative;
}

.reviews_img{
    position: absolute;
    top:0;
    z-index: 1;
    left: 10px;
    margin-left: 60px;

    width: 100px;
    height: auto;
}
.reviews_text{
    font-style: italic;
    font-weight: 300;
    color: #999;
    font-size: 24px;

}
.reviews_autor {
    font-family: 'Kaushan Script', cursive;
    color: #333;
    font-size: 24px;
    margin-left: 10px;
}
.reviews_autor:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}



/*OUR TEAM*/
.our_team{
    text-align: center;
    padding-bottom: 80px;
}
.team_inner {
    display: flex;
    justify-content: space-between;
}
.team_item{
    width: 380px;
    height: 482px;
     position: relative;


}
.team_item:hover img{
    transform: translate3d(-10px, -10px, 0);


}
.team_img{

    background: linear-gradient(to bottom, #f38181, #fce38a);
    margin-bottom: 20px;

}


.team_img img {

    display: block;
    transition: opacity .2s linear;



}
.team_item:hover .team_img img {

    opacity: .1;
}
.team_name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;

}

.team_prof {
    font-style:italic;
    font-weight: 300;
    font-size: 14px;

}

.inner_hips {
    display: flex;
    justify-content: space-between;
    flex: 1 1 1;
}







.photo_work_inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;



}
.photo_item img{
    display: block;
    width: 370px;
    height: 290px;
    object-fit: cover;


}
.photo_item .voda {
    height: 700px;
    width: 400px;
}

.works {
    display: flex;
    padding-top: 20px;
    padding-bottom: 90px;


}
.works_col {
    flex: 1 1 0;
    max-width: 25%;

}
.works_item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);

}
.works_image {
    transition: opacity .2s linear;
    display: block;

}


.works_item:hover .works_image {
    opacity: .1;
}
.works_item:hover .works_info {
    display: block;
}
.works_info {
    width: 100%;
    text-align: center;
    color: #fff;

    position: absolute;
    top:50%;
    left:0;
    z-index: 1;
    transform: translate3d(0,-50%,0);
    display: none;
    transition: opacity .1s linear;
}
.works_title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;


}
.works_text {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;

}
.reviews_img_2{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top:50%;
     transform: translate3d(0,-50%,0);
}
.reviews_text {
    margin-bottom: 20px;
    margin-left: 20px;
}


/*                                SAYS                          */
.says{
    background: url(../images/1.png) center;
     background-size: cover;
    padding: 80px 0;
    width: 100%;




}
.says_inner{
    flex-wrap: wrap;
     display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}
.says_item {
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 30px;
    position: relative;
    width: 48%;
    margin-bottom: 40px;
    padding-left: 140px;
    padding-right: 20px;
}
.says_img {
    position: absolute;
    left: 0;
    top:50%;
    transform: translate3d(14%,-50%,0);
}
.says_img img {
     width: 100px;
    height: 100px;
}
.says_autor {
    padding-top: 5px;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 400;

}
.says_prof,
.says_text{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.says_prof:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ff0202;
    margin: 10px 0;
}

/*            STORY:     ;*/

.story{
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}
.story_item {
    width: 33%;
}
.story_item:hover {
    cursor: pointer;
    transform: translate3d(-17px, -20px, 0);

}
.story_title{
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;

}
.story_subtitle{
     padding-left: 5px;
      margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    border-bottom: 1px solid #e5e5e5;
}

.map{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    background: url(../images/map.png) center;
    background-size: cover;
    align-items: center;
    width: 100%;

}
.map_icon{



}
.text{
    text-align: center;
    color: #ff0202;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;

}
.text:after {
    content: "";
    display: block;
    width: 60px;
    background-color: #ff0202;
    height: 3px;
    margin: 20px auto;

}
.map:hover {
    cursor: pointer;
}


.mogo {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;

}
.mogo_item {
    width: 40%;
}
.mogo_blogs{
    width: 30%;
}
.insta {
    width: 30%;
    padding: 0 30px;
}
.mogo_logo {
    font-size: 46px;
    font-weight: 700;
    color: #cccccc;
    margin-bottom: 20px;

}
.mogo_text {
    font-size: 15px;
    font-weight: 400;
    color: #cccccc;
    padding-right: 20px;

}
.bolds,
.follow{
    color: #333;
}
.follow {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.mogo_href{
    font-style: italic;
}

.mogo_blogs_item{
    position: relative;
    margin-bottom: 40px;


}
.mogo_blogs_img {
    position: absolute;
}
.mogo_blogs_subtitle{

    padding-left: 135px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 15px;
    margin-bottom: 10px;

}
.mogo_blogs_date{
    padding-left: 135px;
    font-style: italic;
    color: #ccc;
    font-size: 12px;

}
.mogo_insta_title,
.mogo_blogs_title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 20px;
}
.mogo_insta_img {
    flex-wrap: wrap;
}

.more_photos {
    font-style: italic;
    font-size: 13px;
    color: #ccc;
    font-weight: 300;
    text-decoration: underline;
}

.footer_text {
    text-align: center;
    padding: 15px 0;


}
.footer_text:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    align-self: center;
    margin-bottom: 20px;


}
.mogo_href img{
   margin-left: 15px;
    vertical-align: top;

}
.mogo_href img:hover{
    cursor: pointer;

}
.input_text{
   margin-top: 30px;
   margin-left: 5px;
   border-color: #95e1d3;
}
input{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

